<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "owl/assets/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "owl/assets/owl.theme.default.min.css" %}">
    <link rel="stylesheet" href="{% static "styles/music.css" %}">
    <link rel="shortcut icon" href="{% static "assets/ico.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "artist/artist.css" %}">
    <title>Feanor: {{atrtist__name}} </title>
</head>

<body data-bs-theme="dark" id="background">
    <main>
        <section class="desktop">
            <div class="titleofmain">
                <h2>Артист</h2>
            </div>
            <div class="mainofmain">
                <div id="backgroundartist" class="artistblock">
                    <div class="rowblock">
                        <div class="avatar" align="center">
                            <a class="title"><img id="avatarimg" src={{avatar_artist}} alt="author"><a id="nameofauthor" class="title">{{atrtist__name}}</a></a>
                        </div>
                        <div class="desc">
                            <div class="descriptionprofile">
                                <h4>Описание</h4>
                                <a class="desctext text-white-50">
                                    Обслуживаемый аккаунт. Технический.
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-mus">
                        <ul class="nav nav-tabs" role="tablist" id="myTab">
                        <li class="nav-item">
                          <a class="nav-link text-white-50 active" role="tab" data-bs-toggle="tab" href="#tracks">Треки</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white-50" role="tab" data-bs-toggle="tab" href="#playlists">Плейлисты</a>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                        <div role="tabpanel" class="tab-pane fade show active" id="tracks"><div class="minimumtracks">
                            <div class="titleofmain">
                                <h2 class="text-white-50">Популярные треки</h2>
                            </div>
                            <ul id="listofpopular" class="list-group list-group-flush" style="height:100%; overflow: auto">
                                {% for track in tracks %}
                                <li id="selectofmusic" class="list-group-item"><a id="numoftrack">{{forloop.counter}}  </a><img id="albumimginlist"
                                    src={{avatar_artist}} alt="album"><a style="cursor: pointer;" onclick="isplay('{{atrtist__name}}', '{{track}}', '{{avatar_artist}}')" id="trackname">{{track}}</a> <a
                                    class="text-white-50" style="cursor: pointer;" onclick="loadpage('/artist/{{atrtist__name}}')" id="authors">{{atrtist__name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div></div>
                        <div role="tabpanel" class="tab-pane fade" id="albums">.-.</div>
                        <div role="tabpanel" class="tab-pane fade" id="playlists">
                            <div class="playlists">
                                <div class="card select-album" style="cursor: pointer;" onclick="loadpage('/album/{{likealbum}}')" style="width: 18rem;">
                                    <img src="https://moewalls.com/wp-content/uploads/2023/07/jake-listening-to-music-in-the-rain-adventure-time-thumb.jpg"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Мне Нравится</h5>
                                        <p class="card-text text-white-50">Треки которые мне нравится</p>
                                    </div>
                                </div>
                                <div class="card select-album" style="cursor: pointer;" onclick="loadpage('/album/{{likealbum}}')" style="width: 18rem;">
                                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614290167_77-p-estetichnii-chernii-fon-92.jpg"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">Luna Album</h5>
                                        <p class="card-text text-white-50">Fake album</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>