<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <link rel="stylesheet" href="{% static "styles/music.css" %}">
    <link rel="stylesheet" href="{% static "artist/artist.css" %}">
    <link rel="shortcut icon" href="{% static "assets/ico.png" %}" type="image/x-icon">
    <title>Feanor</title>
</head>

<body data-bs-theme="dark">
    <main>
        <nav>
            <a style="cursor: pointer;" onclick="mainpage()"><h2>Feanor</h2></a> 
            <div class="navprofile" style="cursor: pointer;" onclick="profilepage()">
                <h3 style="margin-top: 0.5rem;" id="nickname">{{user_name}}</h3>
                <a style="cursor: pointer;" onclick="profilepage()" class="avatar"> 
                <img src="{% static "assets/senko.jpg" %}" alt="avatar"></a>
            </div>
        </nav>
        <section id="page">
            
            <section id="desktop" class="desktop" >
                <div class="titleofmain">
                    <div class="users" style="width: 12rem;">
                        <form method="post" class="user">
                            <a onclick="profilepage()" style="cursor: pointer;">
                                {% csrf_token %}
                                <h3 id="nickname">{{user_name}}</h3>
                                <a style="cursor: pointer;" onclick="profilepage()" class="avatar"> <img src="{% static "assets/senko.jpg" %}" alt="avatar"></a>
                            </a>
                        </form>
                        {% csrf_token %}
                        <a onclick="profilepage()" id="profile" class="btn btn-primary btn-profile">Профиль</a>
                    </div>

                    <h2>Главное</h2>

                </div>
                <div id="content" class="mainofmain" align="center">
                    <div class="wave">
                        <div>
                            <b id="wavename">В бескрайний космос</b>
                        </div>
                        <a id="wavebtn" class="btn btn-primary">Играть</a>
                    </div>
                </div>
            </section>
            <!--Подборки для меня как реклама-->
            <section class="ads">
                <div class="titleofads">
                    <h2>Рекомендации</h2>
                </div>
                <div class="cardsofads" style="padding: 10px;">
                    <h2>Артисты</h2>
                    <div class="artisad">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">  
                            {% for artl, val in artists.items %}
                              {% for artu, avatr in val.items %}
                              <div class="carousel-item">
                                  <div class="roundcard">
                                      <a class="artavatar" style="cursor: pointer;" onclick="loadpage('/artist/{{artl}}')" > <img src="{{avatr}}" alt="artist"></a>
                                      <a style="cursor: pointer;" onclick="loadpage('/artist/{{artl}}')" class="artistname"><h4>{{artu}}</h4></a>
                                  </div>
                                </div>                       
                              {% endfor %}
                            {% endfor %}               
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        
                    </div>
                    <hr style="width: 100%;">
                    <h2>Пользователи</h2>
                    <div class="usersad">
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                {% for name, img in users.items %}
                                <div class="carousel-item">
                                    <div class="roundcard">
                                        <a class="artavatar" style="cursor: pointer;" onclick="loadpage('/profile/{{name}}')" > <img src="{% static "assets/senko.jpg" %}" alt="artist"></a>
                                        <a style="cursor: pointer;" onclick="loadpage('/profile/{{name}}')" class="artistname"><h4>{{name}}</h4></a>
                                    </div>
                                  </div>                       
                              {% endfor %}                            
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="playlists">
                    <div class="card select-album" style="width: 18rem;">
                        <img src="https://moewalls.com/wp-content/uploads/2023/07/jake-listening-to-music-in-the-rain-adventure-time-thumb.jpg"
                            class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Мне Нравится</h5>
                            <p class="card-text text-white-50">Треки которые мне нравится</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <div class="bar">
            <div class="player">
                <div class="bar" style="width: 100%;">
                    <input type="range" id="seekbar" value="0" oninput="seekTo()" onchange="seekTo()" class="seekbar">
                </div>

                <div class="controlsmain">
                    <div class="controls">
                        <div class="titleoftracki space">
                            <div class="albumimg">
                                <img id="albumimg" src="{% static "assets/ico.png" %}" alt="album">
                            </div>
                            <div class="infooftrack">
                                <a id="titleoftrack" class="titleoftrack">Luna</a>
                                <a id="authoroftrack" class="authoroftrack text-white-50" style="cursor: pointer;" onclick="loadpage('/artist/'+document.querySelector('#authoroftrack').textContent)">FrostySF</a>  
                            </div>
                            <div class="timeoftitle">
                                <a id="currenttime" class="firsttime text-white-50">00:00 </a>
                                <b class="text-white-50"> / </b>
                                <a id="fulltime" class="lasttime text-white-50">00:00</a>
                            </div>  
                            <div class="buttons">
                                <button onclick="like()" id="likebtn" class="likebtn"><i class="bi bi-star"></i></button>
                                <button class="addplaylistbtn"></button>
                                <button onclick="loop()" id="repeatbtn" class="repeatbtn"><i class="bi bi-repeat"></i></button>
                            </div>
                            <div class="buttons tocenter">
                                <button id="prevbtn" class="prevbtn"><i class="bi bi-skip-backward-fill"></i></button>
                                <button onclick="play()" id="playbtn" class="playbtn">
                                    <i class="bi bi-pause-fill"></i>
                                </button>
                                <button id="nextbtn" class="nextbtn"><i class="bi bi-skip-forward-fill"></i></button>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </main>
    <footer id="sticky-footer" class="text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; 2024 feanor.su <a class="text-white-50" href="mailto: projectluna@bk.ru">projectluna@bk.ru</a></small>
        </div>
    </footer>
</body>
<script src="{% static "artist/music.js" %}"></script>
</html>