<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "styles/music.css" %}">
    <link rel="shortcut icon" href="{% static "assets/ico.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "artist/artist.css" %}">
    <title>Feanor:  {{ pls_name }}</title>
</head>
<body data-bs-theme="dark" id="background">
    <main>
        <section class="desktop">
            <div class="titleofmain">
                <h2>Плейлист</h2>
            </div>
            <div class="mainofmain">
                <div id="backgroundartist" class="artistblock">
                    <div class="block">
                        <div class="artandtitle">
                            <div class="avatar">
                                <img id="avatarimg" src="https://i.vimeocdn.com/portrait/36013498_640x640" alt="author">
                                <a id="nameofauthor" class="title">Luna</a>

                            </div>
                            <div class="desc">
                                <a class="desctext text-white-50">
                                    Обслуживаемый аккаунт. Технический.
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="minimumtracks">
                        <div class="titleofmain">
                            <h3 id="nameofplaylist" class="text-white-50">{{ pls_name }}</h3>
                        </div>
                        <ul id="listofpopular" class="list-group list-group-flush">
                            {% for key, val in dict.items %}
                                {% for track, avatar in val.items %}
                                <li id="selectofmusic" class="list-group-item"><a id="numoftrack">{{forloop.counter}}  </a><img id="albumimginlist"
                                    src={{avatar}} alt="album"><a id="trackname">{{ track }}</a> <a
                                    class="text-white-50" style="cursor: pointer;" onclick="artistpage('{{key}}')" id="authors">{{key}}</a></li>
                                {% endfor %}
                            {% endfor %}
                            <!-- <li id="selectofmusic" class="list-group-item"><img id="albumimginlist"
                                    src="{% static "assets/ico.png" %}" alt="album"><a id="trackname">Second of Wave</a> <a
                                    class="text-white-50" id="authors">Luna</a></li>
                            <li id="selectofmusic" class="list-group-item"><img id="albumimginlist"
                                    src="{% static "assets/ico.png" %}" alt="album"><a id="trackname">God of War</a> <a
                                    class="text-white-50" id="authors">Luna</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Подборки для меня как реклама-->
        <section class="ads">
            <div class="titleofads">
                <h2>Рекомендации и плейлисты</h2>
            </div>
            <div class="cardsofads">

            </div>
            <div class="playlists">
                <div class="card select-album" style="width: 18rem;">
                    <img src="https://moewalls.com/wp-content/uploads/2023/07/jake-listening-to-music-in-the-rain-adventure-time-thumb.jpg"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Мне Нравится</h5>
                        <p class="card-text text-white-50">Треки которые мне нравится</p>
                        <a id="playbtn" class="btn btn-primary">Играть</a>
                    </div>
                </div>
                <div class="card select-album" style="width: 18rem;">
                    <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614290167_77-p-estetichnii-chernii-fon-92.jpg"
                        class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Luna Album</h5>
                        <p class="card-text text-white-50">Fake album</p>
                        <a id="playbtn" class="btn btn-primary">Играть</a>
                    </div>
                </div>
                
            </div>
        </section>
    </main>
    <script src="{% static "artist/music.js" %}"></script>
</body>

</html>