<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
        rel="stylesheet">
    <script src=
        "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js">
           </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
           integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <link rel="stylesheet" href="{% static "styles/music.css" %}">
    <link rel="shortcut icon" href="{% static "assets/ico.png" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "artist/profile.css" %}">
    <title>Feanor: {{user_name}} </title>
</head>

<body data-bs-theme="dark" id="background">
    <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Настройки</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="ymi">
                    <b class="text-white-50">(Yandex.Music Integration)</b>
                <form method="post" action="/integration/templink/" class="input-group mb-3">
                    {% csrf_token %}
                    <input type="text" name="link" class="form-control" placeholder="Ссылка на Плейлист"
                        aria-label="Link to playlist" aria-describedby="button-addon2">
                    <input type="submit" value="Запрос" class="btn btn-outline-secondary" id="button-addon2"></input>
                </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    <main>
        <section class="desktop">
            <div class="titleofmain">
                <h2>Профиль</h2>
            </div>
            <div class="mainofmain">
                <div id="backgroundartist" class="artistblock">
                    <div class="rowblock">
                        <div class="avatar" align="center">
                            <a id="nameofauthor" class="title"><img id="avatarimg" src="{% static "assets/senko.jpg"%}" alt="author">{{user_name}}</a>
                        </div>
                        <div class="desc">
                            <div class="descriptionprofile" style="display: flex; flex-direction: row;">
                                <div style="width: 60%;">
                                    <h4>Описание</h4>
                                    <a class="desctext text-white-50">
                                    Обслуживаемый аккаунт. Технический.
                                    </a>
                                </div>
                                <div class="d-flex" style="height: 300px; margin: 5px;">
                                    <div class="vr"></div>
                                </div>
                                <div style="padding: 1%;">
                                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">Профиль</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-mus">
                            <ul class="nav nav-tabs" role="tablist" id="myTab">
                            <li class="nav-item">
                              <a class="nav-link text-white-50 active" role="tab" data-bs-toggle="tab" href="#tracks">Треки</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-white-50" role="tab" data-bs-toggle="tab" href="#albums">Альбомы</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-white-50" role="tab" data-bs-toggle="tab" href="#subscribes">Подписки</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link text-white-50" role="tab" data-bs-toggle="tab" href="#playlists">Плейлисты</a>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div role="tabpanel" class="tab-pane fade show active" id="tracks">.f.</div>
                            <div role="tabpanel" class="tab-pane fade" id="albums">.-.</div>
                            <div role="tabpanel" class="tab-pane fade" id="subscribes">
                                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item">
                                        <div class="roundcard">
                                            <a class="artavatar" style="cursor: pointer;" onclick="loadpage('artist/radio tapok')" > <img src="{%static "assets/senko.jpg "%}" alt="artist"></a>
                                            <a style="cursor: pointer;" onclick="loadpage('/artist/radio tapok')" class="artistname"><h4>Radio Tapok</h4></a>
                                        </div>
                                      </div>                       
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="playlists">
                                <div class="playlists">
                                    <div class="card select-album" style="cursor: pointer;" onclick="loadpage('/album/{{likealbum}}')" style="width: 18rem;">
                                        <img src="https://moewalls.com/wp-content/uploads/2023/07/jake-listening-to-music-in-the-rain-adventure-time-thumb.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Мне Нравится</h5>
                                            <p class="card-text text-white-50">Треки которые мне нравится</p>
                                        </div>
                                    </div>
                                    <div class="card select-album" style="cursor: pointer;" onclick="loadpage('/album/{{likealbum}}')" style="width: 18rem;">
                                        <img src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614290167_77-p-estetichnii-chernii-fon-92.jpg"
                                            class="card-img-top">
                                        <div class="card-body">
                                            <h5 class="card-title">Luna Album</h5>
                                            <p class="card-text text-white-50">Fake album</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>