<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://myluna.su/styles/music.css">
  <link rel="shortcut icon" href="https://music.myluna.su/assets/ico.png" type="image/x-icon">
  <link rel="stylesheet" href="style/style.css">
  <title>Вход</title>
</head>

<body>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input id="usernamer" type="text" placeholder="имя пользователя" />
        <input id="passwordr" type="password" placeholder="пароль" />
        <input id="mail" type="text" placeholder="mail" />
        <button id="reg">Создать</button>
        <p class="message">Вы зарегистрированы? <a href="#">Войти</a></p>
      </form>
      <form class="login-form">
        <input id="usernamel" type="text" placeholder="имя пользователя" />
        <input id="passwordl" type="password" placeholder="пароль" />
        <button id="login">Войти</button>
        <p class="message">Нет аккаунта? <a href="#">Создать аккаунт</a></p>
      </form>
    </div>
  </div>
</body>
<script src="https://music.myluna.su/js/index.js"></script>
</html>