@import url("/styles/style.css");

*,
html,
body {
    color: #eee;
    text-decoration: none;
}

body {
    overflow: overlay;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.pinimg.com/originals/50/19/4b/50194b7860774d22f17c0bb2518f3bcd.png");
    background-attachment: fixed;
}

.select-album:hover {
    background: #0000004b;
    cursor: pointer;
}

.infooftrack a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.player {
    background-color: rgba(0, 0, 0, 0.267);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border-radius: 9px 9px 9px 9px;
    z-index: 9;
}

.playbtn {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.playbtn span {
    width: 0;
    height: 25px;
    float: left;
    border-style: solid;
    border-color: transparent transparent transparent rgb(255, 255, 255);
    border-width: 0 0 0 12px;
    transition: .25s linear;
    transition-property: height, border, margin;
    zoom: 1.1;
}

.playbtn:hover span {
    border-left-color: #222;
}

.playbtn span:first-of-type {
    margin-right: 4px;
}

.playbtn.playing span {
    border-top-width: 6px;
    border-bottom-width: 6px;
}

.playbtn.playing span:first-of-type {
    height: 12px;
    border-left-width: 14px;
}

.playbtn.playing span:last-of-type {
    height: 0;
    margin-left: -17px;
    border-left-width: 14px;
}

footer {
    position: relative;
    background-color: black;
    height: 100px;
}

.seekbar {
    position: fixed;
    margin-bottom: 10px;
}

.seekbar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 9px 9px 0 0;
    background: azure;
    overflow: hidden;
    cursor: pointer;
}

.text-white-50 {
    text-decoration: none;
}

.seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    box-shadow: -10000px 0 0 10000px rgba(238, 163, 0, 0.932);
}

.albumimg img {
    height: 48px;
    border-radius: 6px;
}

.timeoftitle {
    margin-top: 1%;
}

.controls,
.titleoftrack,
.timeoftitle {
    display: flex;
    flex-direction: row;
}

.controlsmain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-right: 20px;
}

.controlstoright {
    display: flex;
    flex-direction: row;
}

.titleoftrack {
    margin: 4px;
}

.playlists,
.cardsofads {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.infooftrack,
.nameandtime {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: medium;
}

.card-text {
    font-size: small;
}

.card-body,
.card {
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(15px);
}

.card {
    margin: 2%;
}

.about {
    padding-top: 1%;
    padding-left: 10%;
    background-color: black;
}

.ads,
.desktop {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.desktop {
    height: 80vh;
}

.about h5 {
    margin-left: 2%;
}

.ads {
    backdrop-filter: blur(10px);
}

button {
    margin-left: 3%;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}