@import url("style.css");
@import url("controls/mediabar.css");
*,
html,
body {
    color: #eee;
    text-decoration: none;
}

#sticky-footer{
    bottom: 0;
    position: relative;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

html {
    overflow: overlay;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.764)), url("https://i.pinimg.com/originals/50/19/4b/50194b7860774d22f17c0bb2518f3bcd.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.navprofile{
    display: flex;
    flex-direction: row;
}

.select-album:hover {
    background: #0000004b;
    cursor: pointer;
}

.infooftrack a {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}

.btn-profile{
    width: 100%;
    border: 0;
    border-radius: 20px;
    background-color: #000000a3;
    backdrop-filter: blur(16px);
}
.user{
    justify-content: space-between;
}

.btn-profile:hover{
    background-color: #000000;
}

.btn-profile:active{
    background-color: #1f1f1f !important;
}

.titleofmain h2{
    margin-top: 1rem;
}

.users #nickname{
    margin-top: 0.5rem;
}

.users{
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    background-color: #373737a7;
    backdrop-filter: blur(7px);
}

.avatar img{
    width: 3rem;
    height: 3rem;
    margin: 5px;
    border-radius: 50%;
}

.playlists{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
}

footer {
    position: relative;
    background-color: black;
    height: 100px;
}

nav{
    padding: 5px;
    padding-left: 5%;
    padding-right: 5%;
    display: flex; flex-direction: row; justify-content: space-between;
    background-color: #0000008d;
    backdrop-filter: blur(10px);   
}

.text-white-50 {
    text-decoration: none;
}

.cardsofads {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-title {
    font-size: medium;
}

.card-text {
    font-size: small;
}

.card-body,
.card {
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.212);
    backdrop-filter: blur(15px);
}

.card img{
    border-radius: 16px 16px 0 0;
}

.card {
    margin: 2%;
}

.about {
    padding-top: 1%;
    padding-left: 10%;
    background-color: black;
}

.ads,
.desktop {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.wave{
    margin-top: calc(100% / 8 - 50px);
}

.roundcard a {
    margin: 15px;
    text-align: center;
}

.roundcard h4{
    margin-left: 1rem;
}

.roundcard{
    width: 14rem;
}

.artavatar img{
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
}

.navprofile img{
    width: 2.5rem;
    height: 2.5rem;
}

#wavebtn{
    border: 0;
    border-radius: 15px;
    width: 15%;
    background-color: #1414ed75;
    backdrop-filter: blur(16px);
}

#wavename{
    font-size: 4rem;
}

.desktop {
    height: 80vh;
    backdrop-filter: blur(10px);
}

.about h5 {
    margin-left: 2%;
}

.ads {
    backdrop-filter: blur(10px);
}

button {
    margin-left: 3%;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}



@media (min-width: 768px) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0;
      flex: 0 0 20%;
      display: block;
    }
  }
  .carousel-inner{
    padding: 1em;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.desc .btn{
    max-height: 2.5rem;
}