
.player {
    height: 8%;
    background: linear-gradient(90deg,rgb(48, 48, 48), rgba(0, 0, 0, 0.321));
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
}

.playbtn {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevbtn, .nextbtn{
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.bi{
    padding: 0;
    margin: 0;
    font-size: 2.5rem;
    transition: width .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.titleofmain, .users .user{
    display: flex;
    flex-direction: row;
}

.albumimg, .infooftrack{
    padding-top: 1rem;
}

.timeoftitle{
    margin-top: 1.3rem;
}

.seekbar {
    position: fixed;
    margin-bottom: 1%;
    -webkit-appearance: none;
    width: 100%;
    height: 5%;
    background: rgba(22, 22, 22, 0.796);
    overflow: hidden;
    cursor: pointer;
    transition: width .6s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    box-shadow: -10000px 0 0 10000px rgba(238, 163, 0, 0.932);
}

.albumimg img {
    height: 48px;
    border-radius: 6px;
}

.tocenter{
    position: absolute;
    margin-left: calc(100vw/2 - 5%);
}

.controls,
.titleoftrack,
.timeoftitle {
    display: flex;
    flex-direction: row;
}

.infooftrack{
    display: flex;
    flex-direction: column;
}

.controls, .space{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.controlsmain {
    padding-left: 2%;
    padding-right: 2%;
}

.controlstoright {
    display: flex;
    flex-direction: row;
}

.infooftrack{
    padding-left: 20px;
    padding-right: 20px;
}


.infooftrack a{
    white-space: nowrap;
}